.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
}

.spinner-container {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
